<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
    <title>Slik.IO chart</title>
    <meta content="Slik.IO" name="description">
    <%= stylesheet_link_tag "chartpage", :media => "all"%>
  </head>
  <body>
    <div id="main-chart-div" data-chart-id="<%=params[:chart_id]%>"></div>

    <%= render 'api/v1/charts/disqus' %>

    <!-- Scripts -->
    <script type="text/javascript">
      var slikIObaseUrl = "<%=request.protocol%><%=request.host_with_port%>";
    </script>
    <script type="text/javascript" src="<%=request.protocol%><%=request.host_with_port%>/assets/api/charts.js"></script>
  </body>
</html>
