<script type="text/javascript">
	function endInteraction(jsonParams) {
		window.googleShare(jsonParams)
	}
</script>

<div class="container sharing">
	<h3>Sharing options:</h3>
  <p>Spread the word about Slik.IO and get free events that will help you stay within lower-cost tiers! For each share in the following networks, you will get {{freeEvents}} free events.</p>

  <div class="network-divs-container" ng-hide="allBonusesGathered()">
    <h4>To get bonuses share Slik in one of the following networks:</h4>
    <div ng-show="showNetwork('Facebook')">
      <a ng-click="facebookShare()" class="link-icon" target="_blank">
          <span class="icon-stack">
            <i class="icon-circle icon-stack-base"></i>
            <i class='icon-facebook icon-4x' style="color:#fff;"></i>
          </span>
      </a>
    </div>

    <div ng-show="showNetwork('Twitter')">
      <a ng-href="{{twitterLink}}" class="link-icon" target="_blank">
        <span class="icon-stack">
          <i class="icon-circle icon-stack-base"></i>
          <i class='icon-twitter icon-4x' style="color:#fff;"></i>
        </span>
      </a>
    </div>

    <div id="linkedin" ng-show="showNetwork('LinkedIn')">
      <span class="icon-stack">
        <i class="icon-circle icon-stack-base"></i>
        <i class="icon-linkedin icon-4x" style="position:absolute;color:#fff;"></i>
        <script type="IN/Share" data-url="http://slik.io" data-counter="top" data-onSuccess="linkedinShare"></script>
      </span>
    </div>

    <div ng-show="showNetwork('Google+')">
      <div class="googleWrapper">
        <span class="icon-stack">
          <i class="icon-circle icon-stack-base"></i>
          <i class="icon-google-plus icon-4x" style="position:absolute;color:#fff;"></i>
          <div class="g-plusone" data-href="http://slik.io" data-onendinteraction="endInteraction">
          </div>
        </span>
      </div>
    </div>

    <style scoped="scoped">
      .network-divs-container div {
        display: inline;
        margin-right: 15px;
      }
    </style>
  </div>

  <div ng-show="allBonusesGathered()">
    <h4>Congratulations! You have gathered all the bonuses!</h4>
  </div>


</div>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

<script src="https://platform.linkedin.com/in.js" type="text/javascript"></script>