<div class="container top_main">
  <div class="well">
    <h3>Slik.IO client libraries</h3>
    <div class="alert alert-info" ng-if="collection">
      NOTE: The code below is generated for collection &quot;{{collection.name}}&quot; and its id is substituted where collection id argument
      is required
    </div>
    <ul class="nav nav-pills">
      <li class="active"><a eat-click data-toggle="tab" href="#js">Javascript</a></li>
      <li><a eat-click data-toggle="tab" href="#ruby">Ruby</a></li>
      <li><a eat-click data-toggle="tab" href="#python">Python</a></li>
      <li><a eat-click data-toggle="tab" href="#net">.NET</a></li>
      <li><a eat-click data-toggle="tab" href="#php">PHP</a></li>
      <li><a eat-click data-toggle="tab" href="#curl">Curl</a></li>
      <li><a eat-click data-toggle="tab" href="#node">Node.js</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="js">
        <p>Add this line to your script includes list:</p>
        <pre class="prettyprint">&lt;script type='text/javascript'&gt;
      SLIKIO_PUBLIC_KEY = '{{account.api_public_key || "API_PUBLIC_KEY"}}';
    &lt;/script&gt;
    &lt;script type='text/javascript' src='https://app.slik.io/assets/api/collector.js'&gt;&lt;/script&gt;</pre>
        <p>Start sending data via</p>
        <pre class="prettyprint">
    slikIOCollector.sendData('{{collection_public_id || "COLLECTION_ID"}}', {userId: "123123", email: "user@email.com", action: "planPurchased", cost: 150.0})</pre>
      </div>

      <div class="tab-pane" id="ruby">
        <p>Add this line to your Gemfile</p>
        <pre class="prettyprint">
    gem 'slikio'</pre>
        <p>Initialize the framework</p>
        <pre class="prettyprint">
    require 'slikio'

    SlikIO.API_PRIVATE_KEY = '{{account.api_private_key || "API_PRIVATE_KEY"}}'</pre>
        <p>Send data using</p>
        <pre class="prettyprint">
    SlikIO.sendData('{{collection_public_id || "COLLECTION_ID"}}', {userId: "123123", email: "user@email.com", action: "planPurchased", cost: 150.0})</pre>
      
      <p>SlikIO ruby gem GitHub  
      <a href="https://github.com/SlikIO/slikio-ruby">repository</a></p>
      </div>

      <div class="tab-pane" id="python">
      <p>To get the library:</p>
      <pre class="prettyprint">pip install slikio-python</pre>

       <p>Initialize the framework</p>
       <pre class="prettyprint">
    import slikio

    slikio = slikio.SlikIO('{{account.api_private_key || "API_PRIVATE_KEY"}}')</pre>

      <p>Send data using:</p>
      <pre class="prettyprint">
    data = {
      'user_id': '123123',
      'email': 'user@email.com',
      'action': 'planPurchased',
      'cost': 150.0
    }

    slikio.sendData('{{collection_public_id || "COLLECTION_ID"}}', data)</pre>
      </div>

      <div class="tab-pane" id="net">
        <p>Install the <strong>SlikIO</strong> Nuget package</p>
        <pre class="prettyprint">Install-Package SlikIO</pre>
        <p>Initialize:</p>
        <pre class="prettyprint">SlikIO.SlikIO slikio = new SlikIO.SlikIO('{{account.api_private_key || "API_PRIVATE_KEY"}}');</pre>
        <p>Start sending data using</p>
        <pre class="prettyprint">slikio.SendData('{{collection_public_id || "COLLECTION_ID"}}', new System.Collections.Generic.Dictionary&lt;string,object&gt;() {
      {"userId", "123123"},
      {"email", "user@email.com"},
      {"action", "planPurchased"},
      {"cost", 150.0}
    });</pre></div>

      <div class="tab-pane" id="php">
        <p>Add this to the 'require' section in your composer.json<p>
        <pre class="prettyprint">"slikio/php-sdk": "dev-master"</pre>
        <p>Set up SlikIO object:<p>
        <pre class="prettyprint">
      require_once 'vendor/autoload.php';

      $slikio = new SlikIO('{{account.api_private_key || "API_PRIVATE_KEY"}}');</pre>

        <p>Start sending data using:</p>
        <pre class="prettyprint">
      $slikio->sendData('{{collection_public_id || "COLLECTION_ID"}}', array(
       'user_id' => '123123',
        'email' => 'user@email.com',
        'action' => 'planPurchased',
        'cost' => 150.0
      ));</pre>
        <p>Composer SlikIO <a href="https://packagist.org/packages/slikio/php-sdk">package</a></p>
        <p>SlikIO PHP SDK GitHub <a href="https://github.com/SlikIO/slikio-php">repository</a>
      </div>

      <div class="tab-pane" id="curl">
        <pre class="prettyprint">curl 
      -H "Content-Type: application/json" 
      -u '{{account.api_private_key || "API_PRIVATE_KEY"}}'
      -X POST
      -d '{"data": {"a": 1}}' 
      http://app.slik.io/api/v1/collections/{{collection_public_id || "COLLECTION_ID"}}/data</pre>
      </div>

      <div class="tab-pane" id="node">
        <p>Install the package:</p>
        <pre class="prettyprint">  npm install slikio</pre>
        <p>Initialize the framework:</p>
        <pre class="prettyprint">
      var SlikIO = require("slikio")('{{account.api_private_key || "API_PRIVATE_KEY"}}');</pre>
        <p>Start sending data via:</p> 
        <pre class="prettyprint">
      SlikIO.sendData('{{collectionId || "COLLECTION_ID"}}', {
        userId: '123123',
        email: 'user@email',
        action: "planPurchased",
        cost: 150.0
      },
      function callback(data) {console.log("Recieved: " + data)};</pre>
      </div>
    </div>
    <hr/>
    <div class="alert alert-warn">
      Security note: Do not use your private key for client side code. Use the public key instead.
    </div>
  </div>
  <div class="well">
    <h3>Field names</h3>
    It is strongly recommended to name fields using only alphanumeric characters and underscores. Field names containing any of the following characters
    will result in error:
    <pre>!@#$%^&amp;*=-/{}.,'&lt;&gt;?;"[]\|</pre>
  </div>
  <div class="well">
    <h3>Date and time handling</h3>
    Datetime values should be sent according to ISO8601 format. Examples:
    <pre class="prettyprint">{
  valid_date: "2013-09-13",               // parsed as datetime 2013-09-13 00:00:00
  valid_datetime: "2013-09-13T16:08Z",    // parsed as datetime 2013-09-13 16:08:00
  invalid_date: "20130913",               // parsed as string
  invalid_datetime: "2013-09-13 16:08"    // parsed as string
}</pre>
    <hr/>
    <div class="alert alert-warn">All dates and times are stored as datetime. If you need to store only the time part - it's best
    to store it as an object: {time: {hour: 12, minute: 30}}
    </div>
  </div>
  <div class="well">
    <h3>Arrays handling</h3>
    Currently <strong>nested arrays</strong> are not preserved and are <strong>flattened</strong>. For example the following record:
    <pre class="prettyprint">[1, [2,3], 4]</pre>
    will be stored as
    <pre class="prettyprint">[1,2,3,4]</pre>

    However objects <strong>can</strong> contain arrays and vice versa. For example the following record will be stored correctly:
    <pre class="prettyprint">{
  customers: [{
    email: "user1@example.com", transactions: [
      {date: "20130801", amount: "100"},
      {date: "20130901", amount: "10"}
    ]
  }, {
    email: "user2@example.com", transactions: [
      {date: "20120804", "amount": 10},
      {date: "20120704", "amount": 10}
    ]
  }]
}</pre>
  </div>

  <script type="text/javascript">
    $(document).ready(function() { prettyPrint(); })
  </script>
</div>
