<div class="feedback_form container top_main">
	<div ng-show="showForm">
		<div class="alert alert-error" ng-show="showAlert">
	  		Please fill out the form.
		</div>
		<div class="text-center"><h1>Feedback</h1></div>
		<hr>
		<div class="row-fluid">
			<div class="span7">
				<p>We'll love to hear your feedback to make Slik better. </p>
				<p>Drop us a line on <a href="https://twitter.com/slik_io">Twitter</a>,
				send an email to <a href="mailto:hello@slik.io">hello@slik.io</a> or just fill the form below.</p>
				<p> One of us will get back to you as soon as possible</p>

				<p><b>Feedback from {{user.first_name}}:</b></p>
				<textarea class="span10" ng-model="feedback" rows="8"></textarea>

				<br/>

				<button class="btn btn-large btn-primary" type="button" ng-click="sendFeedback()">
				<i class="icon-thumbs-up-alt"></i> Send Feedback</button>
			</div>
			<div class="span5">
				<i class="icon-bar-chart"></i>
			</div>
		</div>
	</div>

	<h2 ng-show="showThanks">Thanks for your feedback! One of us will get back to you soon.</h2>
</div>