<div class="modal-header">
	<button type="button" class="close" ng-click="close()">&times;</button>
	<h4 class="modal-title">Chart embedding instructions</h4>
</div>
<div class="modal-body">
	<p>To embed a chart in your site follow these steps:</p>
	<p>Ensure our script is added to the bottom of the page (right before the body closing tag):</p>
	<pre class="prettyprint">
&lt;script type='text/javascript' src='https://app.slik.io/assets/api/charts.js'&gt;&lt;/script&gt;</pre>
	<p>Then, place the following code in your page:</p>
	<pre class="prettyprint">
&lt;div data-chart-id="{{chart_public_id}}"&gt;&lt;/div&gt;</pre>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="close()">Close</button>
</div>
