<form id="fileupload" action="#" method="POST" enctype="multipart/form-data" 
data-ng-controller="SlikFileUploadController" 
data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
    <!-- Redirect browsers with JavaScript disabled to the origin page -->
    <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="alert alert-danger" ng-show="state == 'failure'">{{ getErrorMessage() }}</div>
    <div class="alert alert-success" ng-show="state == 'done'">Document processed successfully. Data added.</div>
    <div class="row-fluid fileupload-buttonbar" ng-show="state != 'done'">
        <div class="span12">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <div class="row-fluid">
                <span class="btn btn-success fileinput-button" ng-hide="queue.length > 0" ng-click="notify('select_a_file_button_clicked')">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select file...</span>
                    <input type="file" name="file">
                </span>
                <div ng-repeat="file in queue">
                    {{file.name}} - {{file.size | formatFileSize}}
                </div>            
            </div>
            <div class="row-fluid" data-ng-class="{in: active()}" ng-show="uploadStarted">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" data-file-upload-progress="progress()">
                  <div class="bar bar-success" data-ng-style="{width: num + '%'}">{{processingMessage}}</div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>

            <div class="row-fluid">
                <button type="button" class="btn btn-primary start" data-ng-click="submit(); notify('start_upload_button_clicked')" ng-show="queue.length > 0 && !uploadStarted">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="button" class="btn btn-danger cancel" data-ng-click="cancel(); notify('choose_another_file_button_clicked')" ng-show="queue.length > 0 && !uploadStarted">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Choose another file</span>
                </button>
            </div>            
            <!-- The loading indicator is shown during file processing -->
            <div class="fileupload-loading"></div>
        </div>
    </div>
</form>