<div class="modal" ng-show="visible">
  <div ng-show="step.name == 'collectionType'">
    <div class="modal-header">
      <h3>Collection type</h3>
    </div>
    <div class="modal-body">
      <p>
        To start up quickly you can use one of the public data collections we have prepared for you:
      </p>
      <input type="radio" name="collection_type" value="public" ng-model="collectionType" />
      <select ng-model="publicCollectionId" ng-options="c.public_id as c.name for c in publicCollections"></select>
      <p>
        Or you can create your own collection and upload the data in:
      </p>
      <input type="radio" name="collection_type" value="private" ng-model="collectionType" />
      <input type="text" placeholder="Please provide collection name" ng-model="name" />
      <br />
      <span class="failure" ng-show="step.nextClicked && !step.isCollectionNameValid()">Collection name should be at least {{step.minCollectionNameLength}} characters long.</span>
      <span class="failure" ng-show="step.nextClicked && step.isCollectionNameValid() && step.testedName == name && !step.nameUnique">Collection name already in use.</span>
    </div>
  </div>
  <div ng-show="step.name == 'load-data'">
    <div class="modal-header">
      <h3>Load data</h3>
    </div>
    <div class="modal-body">
      <p>You can now load the data into the collection through Slik.IO API. Please use the following credentials and collection ID:</p>
      <ul>
        <li>Public key: {{user.api_public_key}}</li>
        <li>Private key: {{user.api_private_key}}</li>
        <li>Collection ID: {{collectionId}}</li>
      </ul>
      <a ng-click="step.useCsv = !step.useCsv" href><strong>Have a CSV data file to load into the collection?</strong></a>
      <div ng-show="step.useCsv">
        <p>Just upload the CSV with headers using the button below:</p>
        <div ng-hide="step.success">
          <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <span>Select CSV file</span>
            <!-- The file input field used as target for the file upload widget -->
            <input type="file" name="csvfile" />
          </span>
        </div>
        <p ng-show="step.success">
          <span class="success">The CSV file was processed successfully. Processed {{step.processed}} records.</span>
        </p>
      </div>
    </div>
  </div>
  <div ng-show="step.name == 'finish'">
    <div class="modal-header">
      <h3>Congratulations</h3>
    </div>
    <div class="modal-body">
      <p>
        You have just set up the data source for your chart. Click 'Finish' and start designing the details of the chart.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="next()">{{ step.nextButtonName && step.nextButtonName() || 'Next' }}</button>
  </div>
</div>