<div class="container price_page">
  <div class="row-fluid ">
    <div class="text-center">
      <div class="page-header">
        <span class=""><i class="icon-shopping-cart"></i></span>
        <h1>Be creative with Slik.IO</h1>
        <p><h3>We offer access to Slik.IO on a <strong>Pay-as-You-Go</strong> basis with flexible pricing tiers.</h3></p>
      </div>
        <div>
          <span ng-if="!userLoggedIn"><a href="#/users/sign_up">Sign up</a> for free and create your first chart today!</span>
          <p ng-if="!userLoggedIn && false">
            Even better! You can try out the service for free right now.
            <a href="#/users/sign_up" class="btn btn-primary">Sign up</a>
          </p>
          <div ng-if="userLoggedIn && !account.has_cc_attached" class="alert alert-info alert-light">
            <strong>Note:</strong> Free users will have to <a class="alert-link" href="#/my_account/billing">fill in</a> their billing information in order to exceed their events limit.<br />
          </div>
        </div>
    </div>
  </div>
  <div class="row-fluid">
      <div class="pricing">
        <div class="row-fluid">
          <div class="span4"><h3> <i class="icon-terminal"></i> Developer</h3></div>
          <div class="span4"><span class="event"><small>up to </small>50,000 Data Records</span></div>
          <div class="span4 price"><span class="pull-right"> Free</span></div>
        </div>
      </div>

      <div class="pricing">
        <div class="row-fluid">
          <div class="span4"><h3><i class="icon-gamepad"></i> Startup</h3></div>
          <div class="span4"><span class="event"><small>up to </small>100,000 Data Records</span></div>
          <div class="span4 price"><span class="pull-right"><i class="icon-usd"></i> 40</span></div>
        </div>
      </div>

      <div class="pricing">
        <div class="row-fluid">
          <div class="span4"><h3><i class="icon-leaf"></i> Growing</h3></div>
          <div class="span4"><span class="event"><small>up to </small>1,000,000 Data Records</span></div>
          <div class="span4 price"><span class="pull-right"><i class="icon-usd"></i> 125</span></div>
        </div>
      </div>

      <div class="pricing">
        <div class="row-fluid">
          <div class="span4"><h3><i class="icon-trophy"></i> Professional</h3></div>
          <div class="span4"><span class="event"><small>up to </small>5,000,000 Data Records</span></div>
          <div class="span4 price"><span class="pull-right"><i class="icon-usd"></i> 250</span></div>
        </div>
      </div>

      <div class="pricing">
        <div class="row-fluid">
          <div class="span4"><h3><i class="icon-laptop"></i> Premium</h3></div>
          <div class="span4"><span class="event"><small>up to </small>20,000,000 Data Records</span></div>
          <div class="span4 price"><span class="pull-right"><i class="icon-usd"></i> 750</span></div>
        </div>
      </div>

      <div class="pricing">
        <div class="row-fluid">
          <div class="span4"><h3><i class="icon-rocket"></i></span> Enterprise</h3></div>
          <div class="span4"><span class="event"><small>up to </small>100,000,000 Data Records</span></div>
          <div class="span4 price"><a class=" pull-right" href="mailto:services@slik.io">CONTACT US <i class="icon-envelope"></i></a></div>
        </div>
      </div>

  </div>
  <div class="price_explanation">
    <div class="row-fluid">
      <div class="span6">
        <h4>What is a Data Record?</h4>
        A Data Record happens every time you call our API with sendData. Basically it’s a record in a database.
      </div>
      <div class="span6">
        <h4>What happens if I go over my Data Records quota?</h4>
        Exceeding your Data Records quota will result in an automatic upgrade.
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h4>Are Data Records calculated monthly or all time?</h4>
        Data Records are calculated monthly and are not rolled over.
      </div>
      <div class="span6">
        <h4>Are there any refunds?</h4>
        In Slik.IO we’re doing the best we can to make our customers happy. If you don’t feel this way, you’ll get a full refund.
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <h4>Have more questions?</h4> Feel free to <a href="mailto:support@slik.io">contact us</a> via email or <a href="https://twitter.com/slik_io" target="_blank">Twitter <i class="icon-twitter"></i></a>. One of us will get back to you ASAP.
      </div>
    </div>
  </div>
</div>