<h3>Slik IO Privacy Policy</h3>
This Privacy Policy explains how our practices regarding the information we collect through our website and related services (collectively, the “Service”). By submitting information through our website or services, you agree to the terms of this Privacy Policy and you expressly consent to the processing of your information according to this Privacy Policy. Your Information may be processed by us in the country where it was collected as well as other countries (including the United States) where laws regarding processing of information may be less stringent than the laws in your country.
<h4>What Information Slik IO Collects</h4>
We collect Personal Data and Anonymous Data from you when you visit our site, when you send us information or communications, and/or when you use our Service. “Personal Data” means data that allows someone to identify or contact you, including, for example, your name, telephone number, e-mail address, as well as any other non-public information about you that is associated with or linked to any of the foregoing data. “Anonymous Data” means data that is not associated with or linked to your Personal Data; Anonymous Data does not permit the identification of individual persons. 
<ul>
<li>When you register for an account, we collect certain profile information such as your first and last name and e-mail address. </li>
<li>If you send us feedback, send us an email or contact us via the Service, we will collect any Personal Data in that feedback, email or <contact. </li>
<li>If you participate in one of our surveys, we may collect additional Personal Data from you. </li>
<li>We may combine Personal Data submitted by you with information obtained from other sources. </li>
<li>Like most websites, Slik IO collects certain information from you automatically, such as your Internet protocol address, browser type, operating system, and access time. </li>
</ul>
We also use cookies and navigational data like Uniform Resource Locators (URL) to gather information regarding your use of the Service. A “cookie" is a small data file placed on your hard drive when you visit certain websites. You may disable cookies by adjusting the preferences settings of your browser. Consult the “Help" feature of your browser for specific instructions. If you choose to disable cookies, some areas of our website may not work properly. 
Our customers may use our Service to collect information from you. We are not responsible for any information you submit to our customers, each of which may have its own policies regarding the collection and use of your information. We recommend that you review the policies of our customers through whom your information may be collected and submitted to us. 
<h4>How Slik IO Uses Your Information</h4>
In general, we use your Personal Data to respond to requests from you or to aid us in serving you better. We may use your Personal Data, including information tracking your use of our Service, to improve our website and Service. 
We may use your Personal Data to periodically send you newsletters, administrative notices, updates regarding the Service and communications promoting the use of our Service. You may “opt-out” of such communications as set forth below. 
<h4>How Slik IO Shares Your Information</h4>
Slik IO respects the privacy of our users and their data. We will not share the data you send us with any third-parties except in accordance with this Privacy Policy. 
We will NOT use or share the data recorded in Slik IO in raw or aggregate form for any purposes other than internal metrics. We will not sell or distribute any data recorded in raw or aggregate form to any third parties or partners. 
If another company acquires us or our assets, that company will possess the Personal Data collected by it and us and will assume the rights and obligations described in this Privacy Policy. Your expressly consent to our transfer of Personal Data to such acquirer in connection with such acquisition. 
Regardless of any choices you make regarding your Personal Data (as described below), we may disclose Personal Data if it believes in good faith that such disclosure is necessary to (a) comply with relevant laws or to respond to subpoenas or warrants served on us; or (b) protect or defend the rights or property of us or users of the Service. 
<h4>Your Options</h4>
When you receive newsletters or promotional communications from us, you may indicate a preference to stop receiving further communications from us by following the unsubscribe instructions provided in the e-mail you receive. Despite your preferences, we will continue to send you administrative communications, such as notices of updates to this Privacy Policy. 
You may change your Personal Data by editing your profile or by sending us an e-mail. 
<h4>Third Parties</h4>
We may share your Personal Data with third party service providers, such as payment providers, to provide you with the Service. These third party service providers are required not to use your Personal Data other than to provide the services requested by us. You expressly consent to the sharing of your Personal Data with our contractors and other service providers for the sole purpose of providing the Service to you. 
Our provision of a link to any other website or location is for your convenience and does not signify our endorsement of such other website or location or its contents. When you click on such a link, you will leave our site and go to another site. During this process, another entity may collect Personal Data or Anonymous Data from you. We have no control over, do not review, and cannot be responsible for, these outside websites or their content. Please be aware that the terms of this Privacy Policy do not apply to these outside websites or content, or to any collection of data after you click on links to such outside websites. 
<h4>Security</h4>
Slik IO is committed to protecting the security of your information. We use a variety of industry-standard security technologies and procedures to help protect your information from unauthorized access, use, or disclosure, including limiting access to the data within Slik IO. Despite these measures, you should know that Slik IO cannot fully eliminate security risks associated with your information and mistakes may happen. 
<h4>Changes to this Policy</h4>
If we make any substantial changes in the way we use your Personal Data, we will notify you by sending you an e-mail to the last e-mail address you provided to us and/or by prominently posting notice of the changes on our website. Any material changes to this Privacy Policy will be effective upon the earlier of thirty (30) calendar days following our dispatch of an e-mail notice to you or thirty (30) calendar days following our posting of notice of the changes on our website. These changes will be effective immediately for new users of our Service. In any event, changes to this Privacy Policy may affect our use of Personal Data that you provided us prior to our notification to you of the changes. If you do not wish to permit changes in our use of your Personal Data, you must notify us prior to the effective date of the changes that you wish to deactivate your account with us. Continued use of our website or Service, following notice of such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes. 
<h4>Contact Us</h4>
If you have any questions or feedback regarding this Privacy Policy, please let us know. Please contact us at <a href="mailto:support@Slik.io">support@Slik.io</a>.

