<div id="__confirmationDlg" class="modal" tabIndex="-1">
  <div class="modal-header">
    <h3>{{options.title || "Confirmation required"}}</h3>
  </div>
  <div class="modal-body">
    <p>{{options.body}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" ng-click="confirm()">{{options.confirmButtonText || "Confirm"}}</button>
  </div>
</div>