

<nav class="slikio">
  <a href="#/dashboard" class="brand"><i class="icon-bar-chart"></i></a>
</nav>

<nav class="app_nav">
  <ul class="inline" ng-if="userLoggedIn" ng-controller="UserSessionsController">
    <li><a  href="#/dashboard"><i class="icon-dashboard"></i> Dashboard</a></li>
    <li><a href="#/documentation" data-send-event="doc_clicked"><i class="icon-book"></i> Documentation</a></li>
    <li><a href="#/feedback" data-send-event="feedback_clicked"><i class="icon-thumbs-up"></i> Feedback</a></li>
    <li><a href="#/bonuses" data-send-event="bonuses_clicked"><i class="icon-heart"></i> Bonuses</a></li>
  </ul>
</nav>

<nav class="user_nav">
  <ul class="inline pull-right" ng-if="userLoggedIn" ng-controller="UserSessionsController">
    <!--   <li class="trial_title" ng-if="account.is_in_trial">
      Trial period ends in {{account.trial_ends_in_words}}
    </li>
   -->
    <li><a class="btn btn-danger" href="#/charts/new" style="margin: 0;" data-send-event="open_wizard_clicked">
      <i class="icon-plus"></i> Open Chart Wizard
    </a></li>
    <li>
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >
          <span class="icon-stack">
            <i class="icon-sign-blank icon-stack-base"></i>
            <i class="icon-user icon-light"></i>
          </span>
          {{account.first_name}} {{account.last_name}} <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
          <li><a href="#/my_account">Manage Account</a></li>
          <li class="divider"></li>
           <li><a href="#/pricing" data-send-event="pricing_clicked"><i class="icon-money"></i> Pricing</a></li>
           <li><a href="#/bonuses" data-send-event="bonuses_clicked" ng-if="account.can_get_rewards"><i class="icon-heart"></i> Get Bonuses</a></li>
           <li><a href="#/feedback" data-send-event="feedback_clicked"><i class="icon-thumbs-up"></i> Give Us Feedback</a></li>
           <li class="divider"></li>
           <li><a href="#" eat-click ng-click="signOut()">Logout</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
