<div class="container account">
 
  <div class="span3 bs-docs-sidebar">
          <ul class="nav nav-pills nav-stacked" id="myTab">
            <li class="active"><a href="#account" data-toggle="tab">Account</a></li>
            <li><a href="#billingInformation" data-send-event="billing_info_clicked" data-toggle="tab">Billing information</a></li>
            <li><a href="#trafficInformation" data-toggle="tab">Traffic information</a></li>
          </ul>
  </div>

  <div class="span9 main-content-wrapper tab-content">
    
    <div  id="account" class="tab-pane active">
      <div class="page-header"><h1>Account</h1></div>
      <div id="credentials-container">
        <h4>API Credentials</h4>
        <div>
          API Public Key:
          <span>{{account.api_public_key}}</span>
        </div>
        <div>
          API Private Key:
          <a href="#" ng-click="privateKeyVisible = true" eat-click ng-show="!privateKeyVisible">Show</a>
          <span ng-show="privateKeyVisible">{{account.api_private_key}} [<a href="#" eat-click ng-click="privateKeyVisible=false">Hide</a>]</span>
        </div>
      </div>

      <hr>

      <div id="edit-account-container">
        <div class="alert alert-success" ng-show="accountSavedStatus == 'Success'">
          Account information has been successfully saved.
        </div>
        <div class="alert alert-error" ng-show="accountSavedStatus == 'Fail'">
          Account information was not saved. Please try again later.
        </div>
        <h4>Edit account</h4>
        <div>
          <label for="firstName">First name</label>
          <input id="firstName" type="text" ng-model="account.first_name" />
        </div>
        <div>
          <label for="lastName">Last name</label>
          <input id="lastName" type="text" ng-model="account.last_name" />
        </div>
        <div>
          <button class="btn btn-primary" ng-click="saveAccount()">
            {{ { true: 'Saving...', false: 'Save' }[accountSavedStatus == 'In progress'] }}
          </button>
        </div>
      </div>
    </div>

    <div id="billingInformation" class="tab-pane" data-state="billing">
      <div class="page-header"><h1>Billing information</h1></div>
      <div ng-show="account.has_cc_attached">
        <p>Charged monthly using card: {{account.cc_mask}} [<a href ng-click="replaceCC = true">Change</a>]</p>
      </div>
      <div ng-show="showCCForm()">
        <span class="failure" ng-if="cc.error">{{cc.error}}</span>
        <label for="ccNumber">Credit card number</label>
        <input id="ccNumber" type="text" ng-model="cc.number" ng-class="{'invalid-dirty': !validate(cc.numberValid)}"/>
        <label for="nameOnCard">Name on card</label>
        <input id="nameOnCard" type="text" ng-model="cc.name" />
        <label for="expirationMonth">Expiration date</label>
        <select id="expirationMonth" style="width: 105px" ng-model="cc.month" ng-class="{'invalid-dirty': !validate(cc.expirationDateValid)}">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select><select id="expirationYear" style="width: 105px; margin-left: 10px" ng-model="cc.year" ng-class="{'invalid-dirty': !validate(cc.expirationDateValid)}" ng-options="x for x in years"></select>
        <label for="cvv">CVV</label>
        <input id="cvv" type="text" style="width: 91px" ng-model="cc.cvv" ng-class="{'invalid-dirty': !validate(cc.cvvValid)}" /> <a href="http://www.cvvnumber.com/" target="_blank">(?)</a>
        <div>
          <button class="btn btn-primary" ng-click="saveCC()">{{ {false: 'Save', true: 'Loading' }[loading == true] }}</button>
        </div>
      </div>
    </div>

    <div id="trafficInformation" class="tab-pane" data-state="traffic">
      <div class="page-header"><h1>Traffic information</h1></div>
      <div class="content text-center">
        <p><span class=""><i class="icon-truck"></i> Traffic Size: {{account.traffic_size | number}} KB</span></p>
        </p><span class=""><i class="icon-cogs"></i> Number of Data Records: {{account.records_number | number}}</span></p>
      </div>
    </div>

  </div>

</div>

  <script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault();
    // $(this).tab('show');
  })

  </script>