
<div class="row-fluid text-center header-logo">
  <a href="#" class="brand"><i class="icon-bar-chart"></i> Slik.IO</a>
</div>

<form novalidate class="form-sign">
  <h2>Change password</h2>
  <div>
    <input type="password" placeholder="Password" id="password" ng-model="password" ng-hide="result == 'success'" ng-class="{'invalid-dirty': !validate(isPasswordValid())}" />
    <span class="failure" ng-show="!validate(isPasswordValid())">Password is required and should be at least {{minPasswordLength}} characters long.</span>
    <span class="failure" ng-show="result == 'fail'">The password was not changed. The password reset token might has been expired.</span>
    <span class="success" ng-show="result == 'success'">The password has been successfully changed.</span>
  </div>
  <div class="button-wrapper">
    <button type="submit" ng-hide="result == 'success'" ng-click="change($event)">{{ {false: 'Change', true: 'Loading'}[true == loading] }}</button>
    <a ng-show="result == 'success'" href="#/users/sign_in">Get me to login page</a>
  </div>
</form>