
<div class="row-fluid text-center header-logo">
  <a href="#" class="brand"><i class="icon-bar-chart"></i> Slik.IO</a>
</div>

<form class="form-sign">
  <h2>reset password</h2>
  <div>
    <span class="success" ng-show="'success' === result">Password recovery instructions have been sent to your email.</span>
    <span class="failure" ng-show="'fail'=== result">An error occurred while recovering your password. Please try again later.</span>
  </div>
  <div  ng-hide="result === 'success'">
    <input type="text" ng-model="email" autofocus id="email" placeholder="Email"/>
    <span class="failure" ng-show="!validate(isEmailValid())">Please provide a valid email address.</span>
  </div>
  <div class="button-wrapper">
    <button type="submit" class="btn-primary" ng-hide="result == 'success'" ng-click="recover($event)">reset password</button>
    <a ng-show="result == 'success'" href="#/users/sign_in">Back to login page</a>
  </div>
  <div class="pull-right">
      <a style="margin-top: 10px" href="#/users/sign_up">Create your account</a><br/>
      <a style="margin-top: 10px" href="#/users/sign_in">Login to your account</a>
    </div>
</form>