
<div class="row-fluid text-center header-logo">
  <a href="#" class="brand"><i class="icon-bar-chart"></i> Slik.IO</a>
</div>

<form class="form-sign" ng-hide="activationEmailSent">
  <h2>Resend activation instructions</h2>
  <div>
    <span class="failure">{{error}}</span>
  </div>
  <div>
    <input type="text" ng-model="email" autofocus id="email" name="email" placeholder="Email"/>
  </div>
  <button type="submit" class="btn-primary" ng-click="resend($event)" eat-click>Resend</button>
  <ul class="pull-right inline" style="margin-top: 10px">
      <a href="#/users/sign_up">Sign-Up |</a>
      <a href="#/users/sign_in">Login</a>
   </ul>
</form>

<div class="form-sign alert alert-block alert-success" ng-show="activationEmailSent">
  <p>Confirmation instructions were sent to your email address.</p>
  <a href="#/users/sign_in">Back to login page</a>
</div>
