
<div class="row-fluid text-center header-logo">
 <a href="#" class="brand"><i class="icon-bar-chart"></i> Slik.IO</a>
</div>
 <div class="sigup_header" ng-hide="accountCreated">
    <h2>Create cool charts in minutes</h2> 
 </div>  
<form novalidate class="form-sign" ng-hide="accountCreated">
  <div>
    <input type="text" id="firstName" name="firstName" placeholder="First name" ng-model="firstName" autofocus ng-class="{'invalid-dirty': !validate(isFirstNameValid())}" />
    <span class="failure" ng-show="!validate(isFirstNameValid())">First name is required.</span>
  </div>
  <div>
    <input type="text" id="lastName" name="lastName" placeholder="Last name" ng-model="lastName" ng-class="{'invalid-dirty': !validate(isLastNameValid())}" />
    <span class="failure" ng-show="!validate(isLastNameValid())">Last name is required.</span>
  </div>
  <div>
    <input type="text" id="email" placeholder="Email" ng-model="email" ng-class="{'invalid-dirty': !validate(isEmailValid())}" />
    <span class="failure" ng-show="!validate(isEmailFormatValid())">Invalid email format.</span>
    <span class="failure" ng-show="!validate(isEmailAvailable())">Email already in use.</span>
  </div>
  <div>
    <input type="password" placeholder="Password" id="password" ng-model="password" ng-class="{'invalid-dirty': !validate(isPasswordValid())}" />
    <span class="failure" ng-show="!validate(isPasswordValid())">Password is required and should be at least {{minPasswordLength}} characters long.</span>
  </div>
  <div style="display: none">
    <label for="confirmPassword">Confirm password:</label>
    <input type="password" id="confirmPassword" ng-model="confirmPassword" ng-class="{'invalid-dirty': !validate(isConfirmPasswordValid())}" />
    <span class="failure" ng-show="!validate(isConfirmPasswordValid())">Passwords do not match.</span>
  </div>
    <label class="checkbox">
      <input type="checkbox" style="width: 20px" ng-model="agreeWithTos" name="agreeToTerms" />I agree to Slik.IO <a href="#/tos" target="new">Terms of Service</a> and <a href="#/privacy" target="new">Privacy Policy</a>.
    </label>
    <span class="failure" ng-show="!validate(isTosValid())">Please read and mark that you agree.</span>
  <div class="button-wrapper">
    <button type="submit" class="btn btn-primary" ng-click="signUp($event)">{{ {false: 'Sign up', true: 'Loading'}[true == loading] }}</button>
  </div>
  <p>
    Already have an account? <a href="#/users/sign_in">Login</a>
  </p>
</form>
<div class="form-sign alert alert-block alert-success" ng-show="accountCreated" id="signupSuccessContainer">
  <p>Account created. You will receive an email with confirmation instructions shortly.</p>
  <a href="#/users/sign_in">Back to login page</a>
</div>
<iframe src="/html/adwords/_navigated_to_signup_page.html" width="0px" height="0px"></iframe>