/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jquery.fileupload-ui

 *= require prettyprint/tomorrow

 *= require chart_wizard
 *= require dashboard
 *= require sharing
 *= require responsive
 *= require account
 *= require chart_editor
*/

.sigup_header{
  position: relative;
  top: 93px;
  text-align: center;
}

.header-logo{
  margin-top: 10px;
  a{
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: #B9B9B9;
    font-size: 5rem;
    }
}

a.active{color:red;}

header#top_header .navbar nav.app_nav a.active{color:red;}

.form-sign {
  width: 400px;
  margin: 120px auto 150px;
  h2{margin-bottom: 22px;}
  input{
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    background-color: #fff;
  }
  .button-wrapper{margin-top: 14px;margin-bottom: 20px;}
  input[type="text"]{padding: 0.65em 0.9em 0.85em;}
  input[type="password"]{padding: 0.65em 0.9em 0.85em;}
  input[type="checkbox"]{width:auto;}
  .btn{width: 45%;}
  a{padding-top: 4px;margin-bottom: 20px;}
}

.main-content-wrapper{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 778px;
  background-color: #fff;
  padding: 25px 30px 30px;
  border: 1px solid #e2e2e2;
}



.chart_type{
  a{
    line-height: 3;
    img{
      &:hover{
        width: 36px;
        height: 36px;
      }
    }
  }
}

.share_icons{
  text-align: center;
  border: 1px solid #bbb;
  min-width: 55px;
  bottom: 0;
  width: auto;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 1px 0 15px rgba(0,0,0,.2);
  -moz-box-shadow: 1px 0 15px rgba(0,0,0,.2);
  box-shadow: 1px 0 15px rgba(0,0,0,.2);
  padding: 5px;
  position: absolute;
  background: padding-box #fff;
  right: 0;
}

.googleWrapper {
  display:block;
  padding:0px;
  margin:0px;
  text-decoration:none;
  border:none;
  overflow:hidden;
}

.googleWrapper div {
  padding:4px 0px !important;
}

.googleWrapper iframe {
  opacity:0;
  filter:alpha(opacity=0);
  zoom:1;
}

.linkedin {
  display:block;
  padding:0px;
  margin:0px;
  text-decoration:none;
  border:none;
  overflow:hidden;
}
.IN-widget {
   opacity:0;
  filter:alpha(opacity=0);
  zoom:1;
}

.feedback_form{
    margin_top: 20px;
    background: #fff;
    padding: 45px;
    border-bottom: 4px solid #d9d9d9;
    border-right: 3px solid #d9d9d9;
    margin-bottom: 30px;
    h1{font-size: 54.5px;}
    i.icon-bar-chart{
      font-size: 24vw;
      color: rgba(131, 200, 255, 0.13);
    }
}
.price_page{
  .page-header{
    h1{font-size: 4em;color: #5F5F5F;line-height: 1em;}
    
  }
  .pricing {
    border-top: 5px solid #57ca8e;
    position: relative;
    padding: 10px;
    height: auto;
    background-color: #333333;
    -webkit-box-shadow: #f2f2f2 10px 10px 0 0;
    -moz-box-shadow: #f2f2f2 10px 10px 0 0;
    box-shadow: #f2f2f2 10px 10px 0 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
    h3{
      font-size: 20px;
      letter-spacing: 4px;
      color: #fff;
      text-transform: uppercase;
    }
    span.event{
      font-size: 14px;
      font-weight: 700px;
      color: #858585;
      letter-spacing: 4px;
      text-transform: uppercase;
      position: absolute;
      margin-top: 21px;
    }
    .price{
      color: #51AFFF;
      margin-top: 18px;
      font-size: 60px;
      i{margin: -18px;position: absolute;font-size: 23px;}
      i.icon-envelope{margin: 0;position: relative;font-size: 0.8em;}
      a{font-size:0.5em}
    }
  }
  .price_explanation{
    margin-top: 44px;
    margin-bottom: 44px;
    a{
      position: relative;
      i{
        position: absolute;
        font-size: 10px;
        right: 0;
        top: -5px;
        margin-right: -6px;
      }
    }
  }
}