.chart_editor{
	header{
		min-height: 40px;
		border: 0;
		background: #F1F1F1;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		box-shadow: 0px 1px #9cacbc;
		-moz-box-shadow: 0px 1px #9cacbc;
		-webkit-box-shadow: 0px 1px #9cacbc;
		margin-top: -1px;
		.save_chart{background: rgb(96, 179, 85);height: 40px;border-radius: 0;}
	}

	.work_space{
		margin-top: 20px;
		height: auto;
		min-height: 100%;

	}
	.chart_attribute{
		.sidebar-nav{
			margin-top: 1px;
			.accordion-group {
				border-radius: 0;
			}
		}
		
	}
	.preview_chart{
		.chart_bord{
			margin-top: 20px;
			.failure{
				ul{
					li{padding-left: 20px;padding-right: 20px;vertical-align:top;}
				}
			}
		}
	}

	.general-settings {
		vertical-align: middle;
		margin-top: 6px;
		text-align: center;
		.form-section-horiz {
			height: 100%;
			vertical-align: middle;
		  padding-left: 20px;
		  label {
		  	margin-top: 5px;
		  }
		  .action {
		  	font-size: 0.7em;
		  }
		}
	}
}