.link-icon {
  color: #000;
    text-decoration: none !important;
}
.wizard{
  margin: 10px auto;
  position: relative;
  z-index: 1;
  .thumbnails{
    a{
     cursor: pointer;
     &:hover{text-decoration: none;}
     .icon-stack{
      margin-bottom: 10px;
      &:hover{
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
        -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
        -moz-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
        -o-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
        transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
      }
     }
    }
    span{
      position: relative;
      font-size: 4em;
      color: #E4A870;
      top: 10px;
    }
  }
  .step {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    
    /*stacking fieldsets above each other*/
    .container {width: 100%;}
  }
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
  /*CSS counters to number the steps*/
    counter-reset: step;
    li {
      list-style-type: none;
      color: #ff6b25;
      text-transform: uppercase;
      font-size: 9px;
      width: 33.33%;
      float: left;
      position: relative;
    }
  }
  
  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
  }
  /*progressbar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(216, 216, 216);
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
  }
  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
  }
}