#main{

	.collections_list{
		list-style: none;
		margin: 0;
		padding: 0 0 40px 0;
		li.col_item{
			border-top: 1px solid #D8D8D8;
			line-height: 1em;
			position: relative;
			.collections_info{
				padding-top: 22px;
				li{border-top:none;padding-left: 30px;}
			}
			.create_chart{
				margin-bottom: 40px;
				background: rgb(235, 235, 235);
				padding: 22px;	
				
			}
		}
		.col_line{&:hover{cursor: pointer;background: #E6E6E6;}}
		.well{
			width: 380px;
			position: relative;
			padding: 0;
			box-sizing: border-box;
			background: #ffffff;
			-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
			.chart{
				min-height: 250px;
			}
			.chart_action{
				overflow: hidden;
				background-color: #f6f7f8;
				border-top: 1px solid #e2e2e2;
				clear: both;
				padding: 10px;
				font-size: 18px;
				li{
					border-right: 1px solid #e2e2e2;
					border-top: none;
				}
			}
			&:hover{cursor: default;}
		}
	}
	.form-search{
		border: 0px solid #eee;
		
		padding: 0;
		position: relative;
		.search_input{
			padding: 7px 0 7px 33px;
			border: 0;
			outline: 0;
			font-weight: 300;
			font-size: 14px;
		}
		i{position: absolute;margin: 10px;font-size: 17px;color: #999;}
	}
}