// = require api/engine/nvd3-orig/src/nv.d3.css

$chart-controls-height: 32px;
$chart-header-height: 2em;
$chart-title-font-size: 1.2em;

$panel-color: #010732;

div[data-chart-id] {
  clear: both;
  position: relative;
  .chart-header {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: absolute;
    height: $chart-header-height;
    width: 100%;
    h1 {
      text-align: center;
      margin: 0;
      padding:0;
      font-size: $chart-title-font-size;
    }
    a.credits {
      vertical-align: middle;
      float: right;
      padding-right: 10px;
      font-size: 0.6em;
      text-decoration: none;
      color: lighten(gray, 5%);
    }
  }

  .chart-container {
    position: absolute;
    width: 100%;
    bottom: $chart-controls-height;
    top: $chart-header-height;
  }

  .chart-controls {
    position: absolute;
    bottom: 0;
    height: $chart-controls-height;
    width: 100%;      

    .chart-share-button {
      width: 32px;
      height: 32px;
      margin: 0;
      margin-right: 5px;
      cursor: pointer;

      -webkit-border-radius: 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px;
      -o-border-radius: 5px 5px 5px;
      border-radius: 5px 5px 5px;
    }

    .chart-share-twitter { background-color: #00aced; }
    .chart-share-facebook { background-color: #3b5998; }
    .chart-share-linkedin { background-color: #007fb1; }
    .chart-share-email { background-color: #dd4b39; }
    .chart-share-google { background-color: #d14836; }
  }
}

div[data-chart-id].border {
  border: solid $panel-color;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

div[data-chart-id].gradient {
  .chart-controls {
    /* Gradient taken from http://candpgeneration.com/toys/glossy-buttons-tut.php */
    /* default background-color */
    background-color: $panel-color;
    
    /* the mighty gradient */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.6)), color-stop(0.49, rgba(255, 255, 255, 0.3)), color-stop(0.51, rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.2))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* FF3.6+ */
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Opera11.10+ */
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* W3C */

    
    /* for links in chrome */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
  } 
}

.no-data-message-container {
  display: table;
  height:100%;
  width: 100%;

  .no-data-message {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
