
<div class="row-fluid top_main">
	<div class="span8 offset1">
		<h5>My collections</h5>
		<ul class="collections_list">
			<li class="col_item" ng-repeat="col in collections | filter:query">
				<div class="col_line row-fluid" data-toggle="collapse" data-target="#col_content_{{col.public_id}}">
					<div class="pull-left">
						<ul class="inline">
							<li><h3 style="text-rendering: auto">{{col.name}}</h3></li>
							<li ng-if="col.editable"><a href="#" eat-click ng-click="deleteCollection(col)"><i class="icon-trash"></i></a></li>
					</div>
					<div class="pull-right">
						<ul class="inline collections_info">
							<li>{{col.size || 0 | number}}Kb</li>
							<li>{{col.items_count | number}} items</li>
					  	<li>{{col.charts_count}} charts</li>
							<li><a eat-click href="#"><i class="icon-chevron-down"></i></a></li>
						</ul>
					</div>
				</div>
				<div id="col_content_{{col.public_id}}" class="collapse">
					<p ng-if="col.editable"><a href="#/documentation?collection_id={{col.id}}" target="_blank"><i class="icon-book"></i> Instructions for pushing data.</a></p>
					<ul class="thumbnails">
						<li ng-repeat="chart in col.charts" class=" ">
							<div class="well">
								<div data-chart-id="{{chart.public_id}}" style="height: 300px" class="chart">
								</div>
								<div class="chart_action">
									<ul class="inline">
										<li><a href="#/charts/edit/{{chart.public_id}}" data-toggle="tooltip" title="Edit Chart"><i class="icon-pencil"></i></a></li>
										<li><a href="/charts/{{chart.public_id}}" target="_blank" data-toggle="tooltip" title="View Chart"><i class="icon-eye-open"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Delete Chart" ng-click="deleteChart(chart)" eat-click>
											<i class="icon-trash"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
					<div class="create_chart text-center">
						<p>
							<h4 ng-hide="{{col.charts_count == 0}}">
								You have <span class="badge badge-success">{{col.charts_count}}</span> Beautiful charts in {{col.name}} collection, this is the time to add more.
							</h4>
							<h4 ng-show="{{col.charts_count == 0}}">You don't have charts in this collection yet. This is the time to add more.</h4>
						</p>
						<a href="#" eat-click ng-click="createChart(col)" class="btn btn-danger"><i class="icon-plus"></i> Create chart</a>
					</div>
				</div>
			</li>
		</ul>
		
	</div>

	<div class="span3 text-center">
		<form class="form-search">
			<i class="icon-search"></i>
  			<input type="text" class="search_input" ng-model="query">
		</form>
		<div>
			<h3><i class="icon-truck"></i> Traffic info</h3>
			<p class="">Traffic Size: {{account.traffic_size | number}} KB</span>
      		<p class="">Number of Data Records: {{account.records_number | number}}</span>
      	</div>
	</div>
</div>

<!-- <div class="span6" style="padding-top:10px" ng-include="'/html/controls/embedding_instructions.html'"></div> -->
