
<div class="container wizard">
   <div class="page-header text-center">
      <h2>Easy step-by-step wizard to help you getting started</h2>
      <p></p>
    </div>

     <ul id="progressbar">
        <li ng-class="{active: datasource != null}" class="active">Select the data source</li>
        <li ng-class="{active: datasource != null && collection}" ng-if="datasource == 'create'">Create new collection</li>
        <li ng-class="{active: datasource != null && selected_collection}" ng-if="datasource != 'create'">Select collection</li>
        <li>Build your chart</li>
    </ul>
    <div class="step">
      <div class="row-fluid" ng-hide="hide_collection_types">
        <h3>How do you want to create your chart? <small><br>Select one of the following data sources:</small></h3>
        <hr>
        <ul class="thumbnails text-center">
          <li class="span4">
            <a class="newCallections text-center" eat-click ng-click="selectDatasource('create')">
              <span class="icon-stack">
                <i class="icon-circle icon-stack-base"></i>
                <i class="icon-signal icon-light"></i>
              </span>
              <h4>Create New collection</h4>
            </a>
            <p>A Collection is where your data is stored. You can create a number of charts from a single data collection.</p>
          </li>
          <li class="span4">
            <a class="text-center" eat-click ng-click="selectDatasource('existing')">
              <span class="icon-stack">
                <i class="icon-circle icon-stack-base"></i>
                <i class="icon-sitemap icon-light"></i>
              </span>
              <h4> Use Existing collection</h4>
            </a>
            <p>Create a chart using the data of a collection you've already created.</p>
          </li>
          <li class="span4">
            <a class="text-center" href="#" eat-click ng-click="selectDatasource('public')">
              <span class="icon-stack">
                <i class="icon-circle icon-stack-base"></i>
                <i class="icon-group icon-light"></i>
              </span>
              <h4>Use Public collection</h4>
            </a>
             <p>Create a chart using the data of a public collection.</p>
          </li>
        </ul>
      </div>
      <div id="datasource">
        <div ng-show="datasource == 'public'" class="text-center">
          <h3>Choose Public collection</h3>
          <select autofocus ng-model="selected_collection" ng-options="c.name for c in public_collections"></select>
          <br>
          <button type="button"  class="btn btn-primary" ng-click="createChart()">Create the chart!</button>
        </div>
        <div ng-show="datasource == 'existing'" class="text-center">
          <h3 ng-show="private_collections.length == 0">You don't have <strong>Collection</strong> yet , <a style="cursor: pointer;" ng-click="selectDatasource('create')">Create one</a></h3>
          <h3 ng-show="private_collections.length > 0" >Choose Existing collection</h3>          
          <select autofocus ng-show="private_collections.length > 0" 
                  ng-model="selected_collection" ng-options="c.name for c in private_collections"></select>
          <br>
          <button ng-show="private_collections.length > 0" 
                  type="button"  class="btn btn-primary" ng-click="createChart()">Create the chart!</button>
        </div>
        <div ng-show="datasource == 'create'">
          <div ng-show="!collection" class="text-center">
            <h3>Create New collection</h3>
            <form validate="false">
              <div>
                <label for="collectionName">Collection name:</label>
                <input autofocus id="collectionName" type="text" ng-model="new_collection_name"></input>
              </div>
              <div>
                <button type="submit" class="btn btn-primary" ng-click="createCollection()">Create</button>
              </div>
            </form>
          </div>
          <div ng-show="collection">
            <div class="row-fluid">
              <div class="alert alert-success">Collection {{collection.name}} successfully created. Use '{{collection.public_id}}' as its identifier for pushing data</div>
            </div>
            <div class="row-fluid">
              <h3 class="pull-left">Pushing data programmatically</h3>
              <button type="button" class="pull-right btn btn-primary" ng-click="createChart()">Got it! Create the chart!</button>
            </div>
            <div ui-view></div>
          </div>
        </div>
      </div>

    </div>
</div>

<script>
jQuery(document).ready(function ($) {       
$('.step li > a').click(function(){
    $('body,html').animate({ scrollTop: $('body').height() }, 800);
    $("#datasource input").focus();
});
})
</script>