<div class="chart_editor" style="display:none;">
  
  <header class="row-fluid">
      <div class="pull-right">
        <button ng-show="hasDataFields()" class="save_chart" ng-click="save()"><i class="icon-save"></i> {{ {true: 'Loading...', false: 'Save'}[loading || false] }}</button>
        <a ng-hide="hasDataFields()" href="/#/dashboard">Back to Dashboard</a>
      </div>
    <div class="general-settings">
      <span class="form-inline form-section-horiz">
        <label>Chart title: </label>
        <label ng-hide="editTitle">{{chartSettings.title == "" ? "Unnamed" : chartSettings.title}}</label>
        <input type="text" ng-model="titleDraft" ng-class="{'invalid-dirty': !validate(isTitleValid())}" ng-model-onblur ng-show="editTitle"/>
        <a class="action" href="#" eat-click ng-hide="editTitle" ng-click="titleDraft = chartSettings.title; editTitle = true">Edit</a>
        <a class="action" href="#" eat-click ng-show="editTitle" ng-click="chartSettings.title = titleDraft; editTitle = false;">Save</a>
      </span>
      <span class="form-inline form-section-horiz">
        <label>Data source: </label>
        <select ng-model="chartSettings.collection_id" ng-options="c.public_id as c.name for c in collections"></select>
      </span>
    </div>  
  </header>
    <div class="row-fluid">
      <div class="span3 chart_attribute">
        <div class="sidebar-nav" ng-show="hasDataFields()">
          <accordion close-others="false">
<!--             <accordion-group heading="Basic Chart Information" is-open="true">
              <span class="failure" ng-show="!validate(isTitleValid())">Please provide a title for the chart.</span>
              <label>Data collection:</label>
              
              <span class="failure" ng-show="!validate(isCollectionValid())">Collection is invalid</span>
              <span class="failure" ng-show=""></span>
            </accordion-group>
 -->            <accordion-group heading="Chart Attributes" is-open="true">
              <div ng-repeat="d in dimensions" ng-show="hasDataFields() && currentChartType().noDimensions != true">
                <label>X Axis field:</label>
                <select ng-model="d.field_path" ng-options="f.key as f.key + ' (' + f.type +')'  for f in getFields()"></select>
                <label>X Axis label:</label>
                <input type="text" ng-model="d.label" />
              </div>
              <div ng-repeat="v in chartSettings.values" ng-show="hasDataFields()">
                <label>Y Axis field:</label>
                <select ng-model="v.field_path" ng-options="f.key as f.key + ' (' + f.type +')' for f in getFields()"></select>
                <label>Y Axis label:</label>
                <input type="text" ng-model="v.label" />
                <label>Aggregation function:</label>
                <select ng-model="v.aggregation_function" ng-options="f.value as f.title for f in aggregationFunctions"></select>
              </div>
              <a href="#" eat-click ng-click="addValue()">Add series</a>
            </accordion-group>
            <accordion-group heading="Filters" is-open="true">
              <div ng-repeat="f in parsedFilters">
                  <label>Field</label>
                  <select ng-model="f.field_path" ng-options="cf.key as cf.key + ' (' + cf.type +')' for cf in getFields()"></select>
                  <label>Operator</label>
                  <select ng-model="f.operator" ng-options="o.value as o.text for o in getOperators(f.field_path)"></select>
                  <label>Value</label>
                  <input type="text" ng-model="f.value" />
                  <div>
                    <a href="" ng-click="removeFilter(f)">Remove</a>
                  </div>
              </div>
              <a href="" ng-click="addFilter()">Add Filter</a>
            </accordion-group>
          </accordion>
        </div>
      </div>

      <div class="span9 preview_chart">
          <!-- Preview -->
          <div class="row-fluid">
            <div class="chart_bord">
              <div class="span11 well">
                <div ng-hide="hasDataFields()">
                  <div class="failure text-center"><h2><strong>There's no data in the collection. </strong><br>
                    <small>You can choose between 2 options</small></h2>
                    <br>
                      <ul class="inline">
                        <li style="width: 50%">
                          <img src="/assets/csv.png"/>
                          <h4>upload a CSV or JSON</h4>
                          <a href="http://slik.io/guidelines-for-uploading-a-csv-file/" target="_blank">File structure guidelines</a>
                        </li>
                        <li>
                          <img src="/assets/data.png"/>
                          <h4>push the data programmatically</h4>
                          <a href="#/documentation?collection_id={{chartSettings.collection_id}}" target="_blank">Instructions</a>
                        </li>
                      </ul>
                   </div>
                  <div ng-include="'/html/controls/fileupload.html'"></div>
                </div>
                <div id="chart-preview" ng-show="hasDataFields()" style="height: 400px"></div>
                <a href="#" eat-click ng-click="showEmbeddingInstructions(chartId)">Embedding Instructions</a>
                <!-- <div ng-include="'/html/controls/embedding_instructions.html'"></div> -->
              </div>
              <div class="span1">
                <div class="chart_type" data-toggle="buttons-radio">
                  <a href="#" class="" ng-repeat="t in chartTypes" ng-class="{active: t.value == chartSettings.type}"
                    title="{{t.text}}"
                    ng-click="chartSettings.type = t.value"
                    ng-show="hasDataFields()"
                    eat-click
                  >
                    <p><img width="32" height="32" ng-src="/assets/{{t.img}}" alt="{{t.text}}"/></p>
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

</div>

<script>
 
$(document).ready(function(){
 
  $('.chart_editor').fadeIn(500);
 
});
 
</script>



