= link_to "Slik.IO", root_path, :class => 'brand'
%ul.nav
  - unless user_signed_in?
    %li
      / = link_to 'Log in', new_user_session_path, :method=>'delete'
      %a{href: "#/users/sign_in"} Sign in
  - if user_signed_in?
    %li
      %a{href: '#/my_account'} Account
      / = link_to 'Edit account', edit_user_registration_path
    %li 
      = link_to 'Dashboard', "#/dashboard"
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      %a{href: "#/users/sign_up"} Sign Up
      / = link_to 'Sign up', new_user_registration_path
- if user_signed_in?
  %ul.nav.pull-right
    - if current_user.rewards.has_left
      %li.pull-right
        = link_to 'Bonuses', '#/bonuses'
    %li.topbar-text.pull-right
      = "Trial period ends in " + distance_of_time_in_words(Time.now, current_user.trial_ends_at)

    %li.pull-right
      / %i.icon-off
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
     
