<!DOCTYPE html>
<html ng-app="visApp">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title><%=content_for?(:title) ? yield(:title) : "Slik.IO" %></title>
    <meta content="<%=content_for?(:description) ? yield(:description) : "Slik.IO"%>" name="description">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>

    <header id="top_header" ng-cloak ng-if="userLoggedIn">
      <div class="navbar">
        <div class="" ng-include="'/html/layout/navigation.html'">
        </div>
      </div>
    </header>

    <div class="wrapper">
      <div id="main" role="main">
        <div class="row-fluid">
          <div ng-include="'/html/layout/_flash.html'"></div>
          <div class="section0" ui-view>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      if (window.history && window.location.pathname != '/'){
        window.history.replaceState({}, null, '/');
      }

      var $$initialTransition = {
        transitionTo: '<%= @transition_to if @transition_to %>'
        <%= raw ", transitionParams: #{@transition_params.to_json()}" if @transition_params %>
      };
    </script>

    <script type="text/javascript">
      slikIObaseUrl = "<%=request.protocol%><%=request.host_with_port%>";
    </script>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "api/charts" %>

    <!-- Segment.IO -->
    <script type="text/javascript">
      var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
      analytics.load("<%=ENV['SEGMENTIO_CLIENT_KEY']%>");
    </script>
    <% if user_signed_in? %>
      <script type="text/javascript">
        analytics.identify('<%=current_user.email%>', {
          name             : '<%=current_user.first_name%> <%=current_user.last_name%>',
          first_name       : '<%=current_user.first_name%>',
          last_name        : '<%=current_user.last_name%>',
          email            : '<%=current_user.email%>'
        });
      </script>
    <% end %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('<%= ENV['STRIPE_PUBLIC_KEY'] %>')
    </script>

    <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
    0:+new Date};a.P=function(u){
    a.p[u]=new Date-a.p[0]};function s(){
    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
    b.contentWindow[g].open()}catch(w){
    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('3033-179-10-8194');/*]]>*/</script><noscript><a href="https://www.olark.com/site/3033-179-10-8194/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->

  </body>
</html>
